* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    font-size: 3em;
    font-family: 'Lato', sans-serif;
}

p,
h6 {
    font-family: 'Raleway', sans-serif;
}

.btn {
    border: none;
    padding: 12px 45px;
    margin: 0 5px;
    font-size: 1.1em;
    transition: all .5s;
}
.btn:hover{
    transform: scale(1.1);
}
.btn-bg-color {
    background-color: #285A43;
    color: white;
}

.bg-color {
    background-color: #337A5B;
    color: white;
}

.text-color {
    color: #285A43;
}

.transparent-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
}


/*=====HOME=====*/
.home {
    position: relative;
    height: 100vh;
    background: url(./image/image\-1.png) no-repeat center center /cover;
    text-align: center;
    /* border-bottom: 2px solid black; */
}



.navbar{
    width: 100%;
    height: 120px;
    padding: 20px 75px;
}
.logo{
    float: left;
    transition: all 1s ease-in-out;
}
.logo:hover{
    transform: scale(1.2)  rotate(360deg);
   
}
.nav-list{
    float: right;

}
.nav-list li{
    list-style: none;
    display: inline-block;
}
.nav-list li a {
    display: block;
    color: white;
    margin: 10px 35px;
    font-size: 1.1em;
    text-decoration: none;
    transition: all .5s;
}
.checkbtn{
    color: black;
    font-size: 2em;
    cursor: pointer;
    float: right;
    display: none;
}
#check{
    
    display: none;
}

.nav-list li:nth-child(1) {
    margin-left: auto;
}

.nav-list li:nth-child(5) {
    margin: 0 0 0 40px;
    border: 2px solid white;
    transition: all .5s;
}
.nav-list li:nth-child(5):hover {
   transform: scale(1.1);
}
.active{
    border-bottom: 2px solid white;
    transform: scale(1.2);
}
.nav-list li a:hover{
    border-bottom: 2px solid white;
    transform: scale(1.2);
}

.header {
    color: white;
    padding: 150px 250px;
}

.home-heading {
    font-size: 4em;
}

.header p {
    padding: 30px 100px;
}

.play {
    margin-right: 12px;
}
.numbers{
    position: absolute;
    right: 35px;
    top: 50%;
}
.numbers p{
    margin: .5em 0;
    color: white;
    font-family: 'Lato', sans-serif;
    transition: all .5s;
}
.numbers p:hover{
    transform: scale(1.5);
    color: #285A43;
    border-bottom: 1px solid #285A43;
}
.numbers p:nth-child(1){
    color: #285A43;
    border-bottom: 1px solid #285A43;
}


/*=====ABOUT US=====*/
#about-us {
    padding: 120px 120px 0 120px;
    /* border-bottom: 2px solid black; */
}

.about-us-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-us-content h1{
    width: 45%;
}
.about-us-content p {
    margin-left: 75px;
    width: 55%;
    font-size: 1.2em;
}

.about-us-container {
    margin-top: 90px;
    /* display: grid;
    gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}

.about-us-box {
    /* border: 2px solid black; */
    padding: 20px 30px 50px 30px;
    /* box-shadow: 5px 5px 5px rgb(185, 185, 185); */
    transition: all .5s;
    border-radius: 10px;
    width: 32%;
    
}

.about-us-box:hover {
    transform: scale(1.07);
}

.about-us-box>* {
    margin-top: 20px;
}


/*=====PRODUCTS=====*/
#products {
    text-align: center;
    padding: 120px 120px 0 120px;
    /* border-bottom: 2px solid black; */
}

.product-container {
    margin-top: 35px;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    /* text-align: left; */
}

.product {
    position: relative;
    border: 1px solid rgb(186, 180, 180);
    border-radius: 10px;

}

.product i {
    position: absolute;
    padding-top: .5em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top:1em;
    right: 1em;
    background-color: white;
    color: rgb(203, 196, 196);
    transition: all 1s;
}
.product i:hover{
    color: #285A43;
    transform: rotate(360deg);
}

.product-name {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.product-name button {
    padding: 8px 24px;
    color: #337A5B;
    border: 2px solid #337A5B;
    background-color: transparent;
}
.product-name button:hover{
    background-color: #337A5B;
    color: white;
}
.liked .product-name button {
    background-color: #337A5B;
    color: white;
}

.liked i {
    color: #285A43;
}


/*======BENEFIT=====*/
#benefit{
    padding-top: 120px;
    text-align: center;
}
.benefit {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
    /* border-bottom: 2px solid black; */
    text-align: center;
}
#benefit h1{
    display: none;
}
.benefit-box {
   
    padding: 55px 35px;
    text-align: left;
}



.benefit-box:nth-child(3) {
    background-color: #F8F8F8;

}

.benefit-box:nth-child(4) {
    background-color: #F8F8F8;

}

.benefit-box:nth-child(1) {
    /* background: url(./image/Group\ 1.png) no-repeat center center/cover; */
    grid-column: 1 /span 2;
    grid-row: 1 /span 2;
    text-align: center;
}

.benefit1 {
    margin-top: 0;
    padding: 0;
}

.benefit-box h2,
.benefit-box p {
    margin-top: 20px;
}


/*=====GALLERY====*/
#gallery {
    padding: 120px 0 0;
    text-align: center;
    /* border-bottom: 2px solid black; */
}

.gallery-images{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 35px;
}
.gallery-images .gallery-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 32%;
}
.gallery-images .gallery-column img{
    width: 100%;
    height: 100%;
}


/*======TESTIMONIAL======*/
#testimonial {
    padding: 120px 110px 120px 110px;
    text-align: center;
}

.testimonial-container {
    margin-top: 35px;
    display: grid;
    gap: 4em;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    
}

.review-box {
    position: relative;
    padding: 40px 70px 40px 45px;
    text-align: left;
    /* border: 2px solid black; */
    background: #F8F8F8;
    border-radius: 10px;
    transition: all .5s;
   
}
.review-box:hover{
    transform: scale(1.1);
}
.review-box>img {
    position: absolute;
    opacity: .05;
    right: 0;
    bottom: 0;

}

.review-box:nth-child(3)>img {
    opacity: 1;
}



.review-box-details {
    display: flex;
    align-items: center;

}

.review-box-details h3 {
    margin-left: 20px;
}

.review-box p {
    padding-right: 40px;
}

.review-box>* {
    margin-top: 30px;
}


/*=====CTA=====*/
.cta {
     display: flex;
    align-items: center;
    justify-content: space-evenly; 
    gap: 20px;
    padding: 120px 100px;
    background: url(./image/arto-suraj-X7jtnqyn54M-unsplash\-1.png) no-repeat center center/cover;
}

.cta h1 {
    width: 50%;
    
}

.cta input[type=text] {
    width: 35%;
    padding: 12px 0 12px 25px;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}


/*=====BLOG=====*/
#blog {
    padding: 120px 110px;
    text-align: center;
}

.blog-container {
    /* display: grid;
    place-items: center;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); */
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

.blog-box {
    position: relative;
    width: 32%;
    text-align: left;
    width: 360px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(185, 185, 185);
    transition: all .5s;

}
.blog-box:hover{
    transform: scale(1.1);
}
.date{
    position: absolute;
    width: 100%;
    padding: 0 5px;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-box h2{
    margin-top: 20px;
}
.blog-box > p{
    margin-top: 8px;
    padding-bottom: 50px;
}
.blog-box .date{
    margin-top: 10px;
}

/*=====FOOTER=====*/
#footer{
    text-align: center;
    color: white;
    padding-top: 75px;
}
.contact-us{
    position: relative;
}
.socials i{
    width: 50px;
    height: 50px;
    font-size: 2.2em;
    padding: 5px;
    border: 2px solid white;
    margin: 35px 40px;
    border-radius: 50%;
    transition: all .5s ease-out;
}
.socials i:hover{
    transform: scale(1.1) rotate(360deg);
}
.socials i:nth-child(1):hover{
    color: rgb(169, 63, 107);
    border-color:rgb(169, 63, 107) ;
}
.socials i:nth-child(2):hover{
    color:rgb(1, 101, 225);
    border-color:rgb(1, 101, 225) ;
}
.socials i:nth-child(3):hover{
    color: rgb(29, 155, 240);
    border-color:rgb(29, 155, 240) ;
}
.footer-list{
    width: 100%;

}
.footer-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 75px;

}
.footer-list ul li{
    list-style: none;
    margin-top: 20px;
}
.footer-list ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    margin: 0 30px;
    transition: all .5s ;
}
.footer-list ul li a:hover{
    transform: scale(1.1);
    border-bottom: 2px solid white;
}
.copyright{
    position: relative;
    background-color: black;
    color: white;
    padding: 10px;
    z-index: 1;
}
.contact-us img{
    position: absolute;
    bottom: 0;
    opacity: .1;
   
}
.footer-img1{
    left: 35px;
    
}
.footer-img2{
    right: 35px;
    
}



@media  screen and (width<=1024px) {

    .heading{
        font-size: 2em;
    }
    /*=====HOME=====*/
    .header{
        padding: 120px 150px;
    }
    .nav-list{
        width: 100%;
        height: 100vh;
        background-color: rgb(52, 101, 83);
        position:fixed;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: .5s ease;
        z-index: 2;
    }
    .checkbtn{
        display: block;
    }
    
    .nav-list li{
        display: block;   
        padding: 2em;
    }
    
    
    #check:checked ~ .nav-list{
        left: 0;
    }
    .nav-list li:nth-child(5) {
        margin: 0;
        border: none;
    }
    .active{
        border: none;
    }


    /*=====ABOUT US=====*/
    .about-us-content p{
        font-size: 1em;
        width: 45%;
    }
    .about-us-content h1{
        width: 55%;
        
    }
    .about-us-container{
        flex-direction: column;
        }
    .about-us-box{
        width: 100%;
    }
    /*=====PRODUCTS=====*/
    #products{
        padding: 120px 0 0 ;
    }

    /*======BENEFITS======*/
   
   
    
    /*=====BLOG=====*/
    #blog{
        padding: 120px 0;
    }
}

@media screen and (width<=768px) {
    .heading{
        font-size: 1.5em;
    }

    /*======HOME======*/
    .header{
        padding: 150px 100px;
    }
    .home-heading {
        font-size: 2.5em;
    }
    .header p{
        padding: 30px 0;
    }

    /*=====ABOUT US=====*/
    #about-us{
        padding: 120px 50px;
    }
    .about-us-content h1{
        width: 40%;
    }
    /*=====BENEFIT======*/
    .benefit-box{
        text-align: center;
    }
    .benefit-box:nth-child(1){
        display: none;
    }
    #benefit h1{
        display: block;
    }

    /*======CTA======*/
    .cta{
        padding: 120px 50px;
        flex-direction: column;
        text-align: center;
    }
    .cta input[type=text]{
        width: 60%;
    }

    /*======TESTIMONIAL======*/
    #testimonial{
        padding: 120px 50px;
    }

    /*======FOOTER=====*/
    .footer-img1, .footer-img2{
        display: none;
    }
}


@media screen and (width<=412px) {

    .btn{
        padding: 12px 20px;
    }

    /*=====HOME=====*/
    .navbar{
        padding: 20px 25px;
    }
    .header{
        padding: 150px 50px;
    }
    .numbers{
        display: none;
    }

    /*=====ABOUT US=====*/
    .about-us-content{
        flex-direction: column;
        text-align: center;
    }
    .about-us-content h1{
        width: 100%;
    }
    .about-us-content p{
        width: 100%;
        margin: 35px 0 0;
    }

    /*======GALLERY=====*/
    .gallery-images{
        flex-direction: column;
        align-items: center;
    }
    .gallery-images .gallery-column{
        width: 80%;
    }
    
    /*=====TESTIMONIAL=====*/
    #testimonial {
        padding: 120px 50px 120px 50px;
       
    }
    .review-box>img{
        display: none;
    }
    .review-box{
        padding: 40px 5px;
    }
    .review-box p{
        padding: 0;
    }

    /*=====CTA=====*/
    .cta h1 {
        width: 100%;
    }
}